<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your Book request get Approved </p>
    <p>
    request details<br>
    Book title = <%= @book_request.book.title%>
    </p>
   
    <p>Email: <%= @user.email %></p>
  
  </body>
</html>