<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You cancled Book request of <%= @book_request.book.title%> </p>
   
    <p>Email: <%= @user.email %></p>
  
  </body>
</html>